<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="aqua-core" version="5.0.0" targetFramework="net472" />
  <package id="aqua-core-newtonsoft-json" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Remote.Linq" version="7.0.0" targetFramework="net472" />
  <package id="Remote.Linq.Newtonsoft.Json" version="7.0.0" targetFramework="net472" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>